 .places { 
    display: grid;
    grid-row-gap: 80px;
    max-width: 984px;
    margin: 0 auto;
    padding-top: 92px;
}

@media screen and (max-width: 1280px) {
    .places {
      width: 92.5%;
    }
  }

@media screen and (max-width:1024px){
    .places{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    .places{
        width: 93%;
    }
}

@media screen and (max-width:425px){
    .places{
        padding-top: 64px;
        width: 100%;
        grid-row-gap: 50px;
    }
}