.footer {
    display: flex;
    max-width: 1184px;
    padding-top: 92px;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .footer{
        width: 90.6%;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        padding-top: 88px;
        width: 90%;
    }
}

@media screen and (max-width:674px){
    .footer{
        padding-top: 45px;
    }
}

@media screen and (max-width: 425px) {
    .footer{
        display: block;
        padding-top: 64px;
    }
}