.header__lang-link{
    margin: 0;
    padding: 0 0 12px;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content;
    grid-column-gap: 18px;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

@media screen and (max-width: 425px){
    .header__lang-link{
        font-size: 1.125rem;
        line-height: 1.25rem;
        grid-column-gap: 1rem;
       
    }
}