.places__website { 
    display: grid;
    align-self: end;
    margin: 0 0 60px;
    grid-row: 1;
    grid-column: 2
}

@media screen and (max-width:425px) {
    .places__website{
        padding: 32px 0 32px;
        margin: 0 auto;
        width: 90%;
    }
}