.photo-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
    max-width: 1184px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 92px;
    position: relative;
}

@media screen and (max-width:1024px){
    .photo-grid{
        grid-template-columns: repeat(3, 1fr);
        width: 90.7%;
    }
}

@media screen and (max-width:956px){
    .photo-grid{
        grid-template-columns: repeat(2, 1fr);
        width: 93.8%;
        padding-top: 88px;
    }
}

@media screen and (max-width:618px){
    .photo-grid{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        padding-top: 64px;
    }
}