.cover__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 740px;
    background-image: url("../../../images/cover/__background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-decoration: none;
    padding: 90px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
  }
  
  .cover__item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.3s;
  }

  .cover__item:hover::before {
    opacity: 0.8;
  }

  @media  screen and (max-width: 1024px) {
      .cover__item{
          height: 640px;
      }
  }

  @media  screen and (max-width: 768px) {
    .cover__item{
        height: 480px;
        padding-top: 64px;
    }
}

@media  screen and (max-width: 425px) {
    .cover__item{
        height: 200px;
        padding-top: 66px;
    }
}