.lead__subtitle {
max-width: 580px;
text-align: center;
font-size: 1.875rem;
line-height: 2.25rem;
margin: 0 auto 64px;
}

@media screen and (max-width:425px){
    .lead__subtitle{
        width: 90%;
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0 auto 40px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead__subtitle {
      width: 90%;
    }