.footer__menu {
    list-style-type: none;
    margin: 0;
    padding: 0 0 24px 0;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 18px;
    justify-items: start;
    align-items: end;
    font-size: 1rem;
    line-height: 1.125rem;
}



@media screen and (max-width:674px){
    .footer__menu{
        grid-template-columns: min-content;
        grid-template-rows: repeat(5, min-content);
        grid-row-gap: 32px;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}