.cover__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
}

@media screen and (max-width:700px) {
    .cover__title{
        font-size: 3rem;
        line-height: 3.2rem;
        width: 100%;
        margin: 78px 0 35px;
    }
}

@media screen and (max-width:450px) {
    .cover__title{
        font-size: 2rem;
        line-height: 2.1875rem;
        margin: 84px 0 28px;
    }
}