 .places__paragraph { 
    font-size: 1.125rem;
    line-height: 1.8125rem;
    margin: 0 0 26px;
    grid-column: 2;
    width: 85%;
}

@media screen and (max-width:768px){
    .places__paragraph{ 
    font-size: 1rem;
    line-height: 1.625rem;
    }
}

@media screen and (max-width:425px){
    .places__paragraph{ 
        margin: 0 auto;
    }
} 

/* .places__paragraph {
    grid-column: 2;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 0 0 2.25rem;
  }
  
  .places__paragraph:last-of-type {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1024px) {
    .places__paragraph {
      margin-bottom: 1.5rem;
    }
  }
  
  @media screen and (max-width: 639px) {
    .places__paragraph {
      width: 90%;
      grid-column: 1;
      font-size: 1rem;
      line-height: 1.6875rem;
      margin: 1.5rem auto;
    }
  
    .places__paragraph:first-of-type {
      margin-bottom: 0;
    }
  }